body{
    background-color: #333333;
    color: white;
    margin: 0;
}
img{
    min-width: 150px;
    min-height: 150px;
    max-width: 198px;
    max-height: 198px;
    margin-top: -30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.box{
    position: relative;
    min-width: 220px;
    min-height: 220px;
    max-width: 290px;
    max-height: 290px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: #777777 2px solid;
}
label{
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
}
.type-button{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border: none;
    width: 70px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}
.grass{
    background-color: #09ac11;
}
.fire{
    background-color: #e00000;
}
.water{
    background-color: #0000dd;
}
.poison{
    background-color: #800080;
}
.bug{
    background-color: #2d6400;
}
.flying{
    background-color: #7278aa;
}
.normal{
    background-color: #9ea094;
    color: black;
}
.electric{
    background-color: #ffff00;
    color: black;
}
.ground{
    background-color: #7a6800;
}