<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static' , filename='favicon.png')}}" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>FLASK POKEDEX</title>
</head>
<body>
    <section class="flex">

        {% for itens in list_pokemons %}
        <div class="box" id="{{itens.id}}">
            <img src="{{itens.img}}" alt="{{itens.name}}" class="pokemon-img"><br>
            <label for="{{itens.id}}" class="pokemon-data">
                Nº{{itens.id}}<br>
                <span class="pokemon-name">{{itens.name}}</span>
            </label>
            <br>
            <label for="{{itens.id}}">
                <input type="button" value="{{itens.type1}}" class="{{itens.type1}} type-button">
                {% if itens.type2 == "" %}
                    <input type="button" value="{{itens.type2}}" hidden>
                {% else %}
                    <input type="button" value="{{itens.type2}}" class="{{itens.type2}} type-button">
                {% endif %}
            </label>
        </div>
        {%endfor%}

    </section>

    <section class="div-pages">
        {% for i in range(1 , 37) %}
            <a href="/home/pokepage{{i}}">
                <input type="button" value="{{i}}" class="button-pages">
            </a>
        {% endfor %}
    </section>
</body>
</html>