<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEDEX</title>
</head>
<body>
    <div class="cotainer">
        <ul>
            {% for itens in list_pokemons%}
            <img src="{{itens.img}}" alt="">
            <li>{{itens.name}}</li>
            <li>{{itens.type}}</li>
            {%endfor%}
        </ul>
    </div>
</body>
</html>