<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <style>
        body{
            background-color: #FF5252;
            color: white;
        }
        .cotainer{
            position: absolute;
            width: 90%;
            height: 90%;
        }
        .grid-box{
            position: relative;
            width: 200px;
            height: 180px;
        }
    </style>

    <title>POKEDEX</title>
</head>
<body>
    <div class="cotainer">
        {% for itens in list_pokemons%}
        <div class="grid-box">
            <img src="{{itens.img}}" alt="{{itens.name}}" class="pokemon-img">
            <label class="pokemon-name">{{itens.name}}</label><br>
            <label class="pokemon-type">{{itens.type}}</label>
        </div>
        {%endfor%}
    </div>
</body>
</html>