<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static' , filename='favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static' , filename='style-status.css')}}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{url["forms"][0]["name"]}} | Pokedex</title>
</head>
<body>
    <section class="main">
        <div class="image-circle">
            <img src="{{url['sprites']['front_default']}}" alt="{{url['forms'][0]['name']}}">
        </div>
        <div class="main-status">

        </div>
    </section>
</body>
</html>